.hero-section {
  padding-top: 0%;
  margin-top: -1%;
  background-color: #f8f9fa;
  text-align: left;
  height: 77vh;
  font-family: 'Inconsolata', monospace;
  position: relative; 
  z-index: 1; 
}

.greeting {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bolder;
  margin-top: 70px;
}

.highlight {
  color: #6c63ff;
}

.headline {
  font-size: 72px;
  font-weight: bold;
  margin: 20px 0;
  white-space: nowrap; 
  font-family: 'JetBrains Mono', monospace;
}

.description {
  margin-bottom: 30px;
  font-size: 18px;
}

.icons img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.buttons .btn {
  margin-right: 10px;
  margin-top: 10px;
}

.illustration-container {
  position: relative;
  z-index: 3;
}

.illustration {
  max-width: 100%; /* Ensure the illustration takes full width */
  width: 80%; /* Increase this percentage to scale up */
  height: auto; /* Maintain the aspect ratio */
  margin: -245px 150px; /* Center it */
  display: block; /* Ensure proper block-level behavior */
  padding: 0;
}


/* Media Query for Smartphones (350px - 365px) */
@media (max-width: 600px) {
  .hero-section {
    text-align: center; 
  }

  .greeting {
    font-size: 20px; 
    margin-top: 20px; 
  }

  .headline {
    font-size: 30px; 
    margin: 10px 0; 
  }

  .description {
    font-size: 14px; 
  }

  .buttons .btn {
    margin: 5px; 
  }

  .illustration-container {
    order: 3; 
    width: 100%; 
    margin-top: 20px; 
  }

  .illustration {
    display: block; 
    margin: 0 auto; 
    width: 110%; 
    margin-top: -110px; /* Adjust to move the illustration up */
    margin-bottom: 50%;
  }

  .button-container {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  .dir-control {
    width: 80%;
  }
}
