.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  font-family: 'Inconsolata', monospace;
  margin-bottom: 15%;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #7771e8;
  top: 60px;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-item {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  border-radius: 10px; /* Rounded edges */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.timeline-item:hover {
  transform: translateY(45px) scale(1.05); /* Slightly raise and scale the box on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow effect on hover */
}

.timeline-item.education {
  left: -20px;
  background-color: #B3ACFF;
  /* transition: opacity 0.6s ease-out, transform 0.6s ease-out; */

}

.timeline-item.work {
  left: 55%;
  background-color: #D9D6FF;
  /* transition: opacity 0.6s ease-out, transform 0.6s ease-out; */
}

.timeline-item .timeline-content {
  padding: 20px 30px;
  position: relative;
  border-radius: 10px; /* Rounded edges */
  font-family: 'Inconsolata', monospace;
  color: #000;
  font-size: 0.9rem;
}

.timeline-item .timeline-content h3 {
  margin: 0;
  color: #000;
  font-size: 1.2rem; /* Adjust the font size for the h3 heading */
}

.timeline-item .timeline-content h4 {
  margin: 0;
  color: #000;
  font-size: 1rem; /* Adjust the font size for the h4 heading */
}

.timeline-item .timeline-content time {
  margin: 0;
  color: #000;
  font-size: 0.9rem; /* Adjust the font size for the time element */
}

.timeline-item.work .timeline-content::before {
  content: '';
  position: absolute;
  top: 22px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right: 0;
  border-top: 0;
  right: 30px;
  margin-top: -15px;
  content: "<..>";
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  color: rgba(0, 0, 0, 0.1); /* Text color with lesser opacity */
  z-index: -1;
  font-size: 0.8rem; 
}

.timeline-item.education .timeline-content::before {
  content: '';
  position: absolute;
  top: 22px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-left: 0;
  border-top: 0;
  left: 30px;
  margin-top: -15px;
  content: "<..>";
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  color: rgba(0, 0, 0, 0.1); /* Text color with lesser opacity */
  z-index: -1;
  font-size: 0.8rem; 
}

.css-xyz-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}


@media (max-width: 768px) {
  .timeline::after {
    left: 20px;
  }

  .timeline-item {
    width: calc(100% - 40px);
    left: 40px !important; /* Align all boxes to the right side of the timeline */
  }

  .timeline-item .timeline-content {
    font-size: 0.8rem;
  }

  .timeline-item .timeline-content h3 {
    font-size: 1rem;
  }

  .timeline-item .timeline-content h4 {
    font-size: 0.9rem;
  }

  .timeline-item .timeline-content time {
    font-size: 0.8rem;
  }

  .timeline-item.work .timeline-content::before,
  .timeline-item.education .timeline-content::before {
    display: none; /* Hide the content for smaller screens */
  }
}


@media (max-width: 365px){
  .timeline::after {
    left: 20px;
  }

  .timeline-item {
    width: calc(100% - 40px);
    height: 180px;
    left: 40px !important; /* Align all boxes to the right side of the timeline */
    padding-top: 10px;
    margin-bottom: 10%;
  }

  .timeline-item .timeline-content {
    font-size: 0.8rem;
    padding-left: 10px;
  }

  .timeline-item .timeline-content h3 {
    font-size: 0.8rem;
  }

  .timeline-item .timeline-content h4 {
    font-size: 0.9rem;
  }

  .timeline-item .timeline-content time {
    font-size: 0.6rem;
  }

  .timeline-item.work .timeline-content::before,
  .timeline-item.education .timeline-content::before {
    display: none; /* Hide the content for smaller screens */
  }
}

@media (min-width: 366px) and (max-width: 767px) {
  .timeline::after {
    left: 20px;
  }

  .timeline-item {
    width: calc(100% - 40px);
    height: 200px;
    left: 40px !important; /* Align all boxes to the right side of the timeline */
    padding-top: 10px;
    margin-bottom: 10%;
  }

  .timeline-item .timeline-content {
    font-size: 0.8rem;
    padding-left: 10px;
  }

  .timeline-item .timeline-content h3 {
    font-size: 1rem;
  }

  .timeline-item .timeline-content h4 {
    font-size: 0.9rem;
  }

  .timeline-item .timeline-content time {
    font-size: 0.7rem;
  }

  .timeline-item.work .timeline-content::before,
  .timeline-item.education .timeline-content::before {
    display: none; /* Hide the content for smaller screens */
  }
}